/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, src/main/resources/static/web/styles/partials/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  /*	border: 0;*/
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, src/main/resources/static/web/styles/partials/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, src/main/resources/static/web/styles/partials/_normalize.scss */
body {
  line-height: 1; }

/* line 34, src/main/resources/static/web/styles/partials/_normalize.scss */
ol, ul {
  list-style: none; }

/* line 37, src/main/resources/static/web/styles/partials/_normalize.scss */
blockquote, q {
  quotes: none; }

/* line 40, src/main/resources/static/web/styles/partials/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, src/main/resources/static/web/styles/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 101, src/main/resources/static/web/styles/style.scss */
body {
  background-color: #081a1a; }

/* line 106, src/main/resources/static/web/styles/style.scss */
.wall {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }
  /* line 113, src/main/resources/static/web/styles/style.scss */
  .wall .fameTitle {
    margin-top: 20px;
    color: #00ffff;
    font-size: 50px;
    font-family: "VT323", monospace; }
  /* line 119, src/main/resources/static/web/styles/style.scss */
  .wall .fame {
    margin: 25px;
    border: 1px dashed #00ffff;
    width: 80%;
    color: #00ffff;
    font-size: 20px;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff; }
    /* line 126, src/main/resources/static/web/styles/style.scss */
    .wall .fame th {
      font-family: "VT323", monospace;
      font-weight: 100;
      text-align: center;
      border: 1px dashed #00ffff;
      box-shadow: 0 0 10px #00ffff; }
    /* line 133, src/main/resources/static/web/styles/style.scss */
    .wall .fame .tcell:first-of-type {
      font-family: monospace;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      padding: 5px; }
    /* line 140, src/main/resources/static/web/styles/style.scss */
    .wall .fame .tcell {
      font-family: monospace;
      font-size: 15px;
      text-align: center;
      border: 1px dashed #00ffff;
      box-shadow: 0 0 10px #00ffff; }

/* line 150, src/main/resources/static/web/styles/style.scss */
li.list {
  margin-top: 50px;
  color: #00ffff;
  font-size: 18px;
  font-family: "VT323", monospace; }

/* line 158, src/main/resources/static/web/styles/style.scss */
header {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: -1px;
  width: 100%;
  border: 1px solid #00ffff;
  height: 100px;
  font-family: "VT323", monospace;
  font-size: 50px;
  color: #00ffff; }
  /* line 172, src/main/resources/static/web/styles/style.scss */
  header .players {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    /* line 177, src/main/resources/static/web/styles/style.scss */
    header .players .p1,
    header .players .p2 {
      font-size: 25px; }
    /* line 181, src/main/resources/static/web/styles/style.scss */
    header .players .vs {
      font-size: 25px;
      padding-left: 5px;
      padding-right: 5px; }

/* line 190, src/main/resources/static/web/styles/style.scss */
.board {
  margin-top: 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  /* line 195, src/main/resources/static/web/styles/style.scss */
  .board .field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
    /* line 201, src/main/resources/static/web/styles/style.scss */
    .board .field .fieldTitle {
      font-family: "VT323", monospace;
      font-size: 20px;
      color: #00ffff; }

/* line 209, src/main/resources/static/web/styles/style.scss */
.sea,
.salvoSea {
  width: fit-content;
  background-color: transparent;
  border: 1px solid #00ffff;
  border-radius: 10px;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
  margin: 50px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  /* line 222, src/main/resources/static/web/styles/style.scss */
  .sea .row,
  .salvoSea .row {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end; }
    /* line 227, src/main/resources/static/web/styles/style.scss */
    .sea .row .cell,
    .salvoSea .row .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #00ffff;
      font-weight: bold;
      font-family: monospace;
      border: 1px dashed #00ffff;
      width: 35px;
      height: 35px;
      box-shadow: 0 0 10px #00ffff;
      text-shadow: 0 0 10px #00ffff; }

/* line 244, src/main/resources/static/web/styles/style.scss */
.ship {
  background-image: url(icons/pene.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center; }

/* line 251, src/main/resources/static/web/styles/style.scss */
.bomb {
  background-image: url(icons/redpene.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center; }

/* line 258, src/main/resources/static/web/styles/style.scss */
.aqua {
  background-color: #00ffff; }

/*# sourceMappingURL=style.css.map */